@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200&family=Domine:wght@500&display=swap');
*{
    overflow-x: hidden;
}
h1,h2,h3,h4,h5{
    font-family: 'Domine', serif;
}
p{
    font-family: 'Albert Sans', sans-serif;
}

.navbar-expand-lg{
    z-index: 1
}
body{
    background-color: #000000;
    
}

 .zoom{

    transition: transform 0.4s;
    /* Animation */

    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.05);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.tr-text {
    font-size: 100px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    /* -webkit-text-stroke: 0.2vw #CF0A0A; */
    -webkit-text-stroke: 0.2vw orange;
    -webkit-text-fill-color: transparent;
    line-height: 1.2;
    border: 3px solid #ffae01;
    

}


.prg {
    font-size: 25px;
    color: #fff;
    text-align: center;
    margin: 50px 0;
}





/* ================================================================================================================================
                                                                Navbar
================================================================================================================================ */


/* ================================================================================================================================
                                                            Services
================================================================================================================================ */
/* ================================================================================================================================
                                                        Pricing
================================================================================================================================ */
/* ================================================================================================================================
                                                                gallary
================================================================================================================================ */


/* ================================================================================================================================
                                                                team
================================================================================================================================ */

/* ================================================================================================================================
                                                            photo
================================================================================================================================ */


/* ================================================================================================================================
                                                                about
================================================================================================================================ */

/* ================================================================================================================================
                                                                branch
================================================================================================================================ */
/* ================================================================================================================================
                                                                footer
================================================================================================================================ */
