.home-video{
    height: auto;
     width: 100vw;
     background-color: black;
     overflow: hidden;
     position: relative;
 }
 .home-videos{
 object-fit: cover;
 }
 #homelogo{
    z-index: 500;
    position: absolute;
    top: 0%;
    left: 2%;
 }
 #headerquotes{
position: absolute;
top: 66%;
left: 1%;
font-size: 3vw;
color: #dfd9d9;
 }
 
 @media (max-width:500px){
    #headerquotes{
        position: absolute;
        top: 57%;
        left: 1%;
        font-size: 3vw;
        color: #dfd9d9;
         }

         .home-video{
            height: auto;
             width: 100vw;
             background-color: black;
             overflow: hidden;
             position: relative;
         }
 }